<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
		layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
 .white {background-color: white;}
</style>
</head>
<body>
<article layout:fragment="content">
	<a href="updateEmployee?id=100&name=kim">사원수정</a>
	전체사원수 [[${#lists.size(empList)}]] 명	<!-- 전체사원수<span th:text="${#lists.size(empList)}">50</span> -->
	
	<table>
		<thead>
		<tr>
			<th>NO</th>
			<th>사번</th>
			<th>이름</th>
			<th>급여</th>
			<th>입사일</th>
			<th>부서</th>
			<th>수정</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="emp : ${empList}" th:class="${empStat.even}?'white': _">
				<td th:text="${empStat.count}" >1</td>
				<!-- <td th:text="${emp.employeeId}">100</td> -->
				<td><a th:href="@{updEmp1(employeeId=${emp.employeeId},firstName=${emp.firstName})}" th:text="${emp.employeeId}">100</a></td>
			 <td><a th:href="@{updEmp2/{id}/{fname}(id=${emp.employeeId},fname=${emp.firstName})}" th:text="${emp.employeeId}">100</a></td> 
				
				<td th:text="${emp.firstName}">김자바</td>
				<td th:text="${emp.salary}"> <span th:if="${emp.salary}>5000" >3,000</span></td>		<!-- <td th:text="${emp.salary}" th:if="${emp.salary}>5000" >3,000</td> -->
				<td th:text="${#dates.format(emp.hireDate, 'yyyy-MM-dd')}">2020/01/01</td>				<!-- <td th:text="${emp.hireDate}">2020/01/01</td> -->
				<td th:text="${emp.departmentId}">50</td>
				<td>
					<div th:switch="${emp.departmentId}">
						<p th:case="10">administrator</p>
						<p th:case="20">manager</p>
						<p th:case="*">User is some other thing</p>	<!-- 다른 경우엔 *로 처리 -->
					</div>
				</td>
			</tr>
		</tbody>
		
	</table>
</article>
</body>
</html>